::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .3);
}

::-webkit-scrollbar-thumb {
    width: 16px;
}

.top {
    margin-top: 5px;
}

html, body , #root, .root-container{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    animation: breath 15s linear infinite;
    background: no-repeat #000;
    background-size: cover;
}

.root-container {
    background-image: (rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%);
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.view-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 2.8fr 1fr;
    grid-template-areas: 
                         "movie" 
                         "list";
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.movie-item {
    grid-area: movie;
}

.movie-list {
    grid-area: list;
}

.trending-container {
    position: absolute;
    top: 20%;
}

.img-search {
    width: 20px;
    height: 20px;
}

.movielist-container-rendering {
    transform: translate(0);
}

.movielist-container {
    position: relative;
}

.movielist-container .movie-list {
    width: 100%;
    margin-bottom: 1.5em;
}

.react-context-wrapper {
    display: inline;
}

.movie-list-row {
    transition-property: background-color;
    transition-duration: .2s;
    transition-timing-function: linear;
    display: flex;
    height: 4.56em;
    user-select: none;
    position: relative;
}

.movie-list-col {
    display: block;
    height: 4.56em;
}

.movie-list-col-duration {
    text-align: right;
    padding-right: 1em;
    letter-spacing: 0;
    font-feature-settings: "tnum";
    width: 3.9em;
}

.position-outer {
    font-feature-settings: "tnum";
    letter-spacing: 0;
    width: 3em;
    text-align: right;
    padding-right: 1em;
}

.movie-list-play {
    color: #fff;
    display: none;
}

.movie-list-top-align {
    margin-top: .7em;
}

.name {
    flex: 1 1 0;
    width: 0;
    overflow: hidden;
    padding-right: 1px;
    margin-right: -1px;
}

.more {
    text-align: right;
    min-width: 65px;
    padding-right: 1em;
}

.movie-list-name {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: .015em;
    color: #fff;
}

.ellipsis-one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1px;
    margin-right: -1px;
}

.second-line {
    position: relative;
    display: flex;
    align-items: center;
}

.MovielistHeader {
    text-align: center;
    margin: 0 auto 1.5em;
    max-width: 400px;
}

.MovielistHeader .media-object {
    margin: 0 auto;
    padding-bottom: 15px;
    max-width: 320px;
}

.MovielistHeader .mo-info {
    height: auto;
    margin-bottom: .3em;
    text-decoration: none;
}

.mo-info {
    margin: 12px 0 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.cover-art {
    margin: 0;
    display: block;
    border: 0;
    outline: 0;
    position: relative;
    background-color: #282828;
    z-index: 0;
}

.actionable {
    transition: none 33ms cubic-bezier(.3,0,.7,1);
    transition-property: transform;
}

.cover-art-auto-height {
    padding-top: 100%;
}

.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.cover-art .cover-art-playback {
    position: absolute;
    z-index: 3;
    transition-property: all;
    background-color: transparent;
    display: none;
    width: 62px;
    height: 62px;
    margin-left: -31px;
    margin-top: -31px;
    box-sizing: content-box;
    outline: none;
    box-shadow:inset 0 0 0 1px #b3b3b3;
    color: #ffff;
    top: 50%;
    left: 50%;
    border: 0;
    border-radius: 500px;
}

.cover-art-scss {
    opacity: 1;
    transition-property: opacity;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(.3,0,.4,1);
}

.cover-art .cover-art-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-position: 50%;
}

.mo-info-name {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: var(--glue-font-weight-black);
    color: #fff;
    text-transform: none;
    overflow-wrap: break-word;
}

.MovielistHeader__button--top {
    margin-bottom: 15px;
}

.MovielistHeader__button--bottom {
    display: block;
}

.MovielistHeader__body {
    vertical-align: middle;
    color: #fff;
}

.MovielistHeader__entity-name {
    display: none;
    padding-bottom: 10px;
}

.MovielistHeader__entity-by {
    color: #fff;
    opacity: .6;
}

.MovielistHeader__text-silence {
    color: #fff;
    line-height: 16px;
    letter-spacing: .16em;
    text-transform: uppercase;
    font-size: .8em;
    opacity: .6;
}

.MovielistHeader__addition-info {
    margin-bottom: .8em;
}

.MovielistHeader-children {
    height: 40px;
}

.MovielistHeader-button {
    height: auto;
}

.horizontal-list {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.MovielistHeader__extrabutton {
    -webkit-box-align: center;
    align-items: center;
    max-height: max-content;
}

.btn-green {
    background-color: #1db954;
    padding: 11px 44px;
}

.btn-green:hover {
    background-color: #1db954;
}

.position {
    margin-top: .75em;
    color: #fff;
    opacity: .6;
}

.btn-transparent {
    background-color: transparent;
}

.btn--narrow {
    min-width: 50px;
}

.btn--no-margin {
    margin: 0;
}

.btn--no-padding {
    padding: 0;
}



@media (max-width: 1199px) {
    .MovielistHeader{
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: start;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0 0 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);

    } 

    .MovielistHeader .media-object {
        width: 30%;
        min-width: 157px;
        position: relative;
    }

    .MovielistHeader .mo-info {
        display: none;
    }

    .MovielistHeader__button--top {
        display: none;
    }
    
}

@media (min-height: 870px) and (min-width: 1200px) {
    .col-sticky {
        position: sticky;
        top: 120px;
    }
}
